{% extends 'base.html' %}

{% block title %}Flights list{% endblock %}

{% block content %}
<form method="get" action="{% url 'flights_list' %}">
    <label for="filter">Filter by date:</label>
    <input id="filter" type="text" value="{{filter}}" name="filter">
    <label for="sort">Sort by column name</label>
    <input id="sort" type="text" value="{{sort}}" name="sort">
    <button type="submit">Submit</button>
</form>

<h1>Flights</h1>
{% if perms.manifest.flight_add %}
<form action="{% url 'add_flight' %}">
    <button type="submit">Schedule flight +</button>
</form>
{% endif %}
<table border="1" width="50%" cellpadding="4" cellspacing="0" style="background-color:lightblue">
    <tr style="background-color:lightgrey">
        <th>No</th>
        <th>Date</th>
        <th>Available seats</th>
        <th>Status</th>
        {% if perms.clubs.ticket_add %}
            <th colspan="2">Actions</th>
        {% endif %}
    </tr>
    {% for flight in page_obj %}
        <tr style="background-color:lightgrey{% if flight.seats_left == 0 %}; color: green{% endif %}" >
            <td>{{ flight.order_number }}</td>
            <td>{{ flight.date|date:"Y-m-d" }}</td>
            <td>{{ flight.seats_left }}</td>
            <td>{{ flight.status }}</td>
            {% if perms.clubs.ticket_add or perms.clubs.ticket_delete %}
                <td colspan="2">
                {% if flight.seats_left > 0 and perms.clubs.ticket_add %}
                    <form action="{% url 'plan_flight' flight.id %}">
                        <button type="submit" style="background-color:lightgreen">SELL SOLO TICKET</button>
                    </form>
                {% else %}
                    <b>READY!</b>
                {% endif %}
                {% if perms.clubs.ticket_delete %}
                    <form method="post"
                          onsubmit="return confirm('Do you really want to unplan the flight {{ flight }} and all tickets?');"
                          action="{% url 'unplan_flight' flight.id %}">
                        {% csrf_token %}
                        <button type="submit" style="background-color:tomato">CANCEL FLIGHT</button>
                    </form>
                {% endif %}
                </td>
            {% endif %}
        </tr>
        {% if flight.ticket_set.all|length > 0 and user.is_authenticated %}
            {% include 'tickets_list.html' %}
        {% endif %}
{% endfor %}
</table>
{% include 'pagination_controls.html' %}
{% endblock %}